.header {
    position: absolute;
    width: 100%;
}

.letrasNav{
    color: white;
}

.nav-item .nav-link{
    color: white;
    font-size: 20px;
}

.nav-item .nav-link:hover{
    color: white;
    font-size: 22px;
}

.nav-item .nav-link:visited{
    color: white;
    font-size: 22px;
}

.logo-container{
    margin-right: 25%;
}

.logo-container img{
    width: 60%;
    height: 60%;
}