 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  html,
  body {
    font-family:Georgia, 'Times New Roman', Times, serif;
  } 

  .contBody{
    width: 100%;
    height: 280vh;
    background-position: 67%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("C:\Users\Usuario\Desktop\teclam\public\fondoTeclam.jpg");
  }

/*NAVBAR*/
.header {
  position: absolute;
  width: 100%;
}

ul{
  margin-top: 15%;
  display: flex;
  justify-content: space-around;
  margin-right: 8%;
  padding-right:5% ;
}

ul a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

ul a:hover {
  color: white;
  text-decoration: none;
  font-size: 27px;
  word-spacing: 2%;
}

.active{
  border-bottom: 2px solid white;
}

.contLogoCarrito{
  display: flex;
  align-items: center;
  margin-top: 46%;
  margin-left: 60%;
}

.logo{
  width: 50%;
  height: 100%;
}

/*CARDWIDGET*/
.cart-widget {
  text-align:end; 
}

.qty-display {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  text-align: center;
  line-height: 17px;
  margin-left: 3%;
}

.cart-widget:hover{
font-size: 18px;
}

/*ITEM LIST CONTAINER*/
.contenedorItemList {
  display: grid;
  grid-template: 1fr 2fr 1fr / 0.5fr 2fr 0.5fr;
  height: 100%;
}

.contenedorTextos {
  grid-column: 2;
  grid-row: 2;
  color: white;
  text-align: center;
  align-self: center;
  margin-top: 20%;
  margin-top: 10%;
}

.contenedorTextos h1{
  font-weight: 700;
}

.contenedorTextos p {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 30px auto;
  max-width: 360px;
}


.comprar {
  background-color: yellow;
  color: rgb(10, 10, 126);
  padding: 3%;
  font-size: 18px;
  border-radius: 50%;
  border: none;
  text-decoration: none;
}

.comprar:hover {
  font-size: 20px;
  color: rgb(10, 10, 126);
}

/*ITEM*/
.card{
  display: inline-block;
  text-align: center;
  align-items: center;
  margin-left: 3%;
  width: 30%;
  background-color: rgb(214, 13, 13);
  margin-top: 15%;
  padding: 2%;
}

.imgProductos{
  width: 50%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.btnDetalle{
  padding: 3%;
  width: 60%;
  color: rgb(160, 105, 34);
  background-color: rgb(227, 240, 52);
  color: white;
  border: none;
}

.btnDetalle:hover{
  padding: 3%;
  width: 60%;
  background-color: rgb(227, 240, 52);
  color: white;
  border: none;
  font-size: 16px;
}

.prodName{
  color: white;
  font-size: 25px;
}

.prodPrice{
  color: white;
  font-size: 18px;
}

/*DETAILS - CONTADOR*/
.contDetail{
  position: absolute;
  margin-top: 15%;
  margin-left: 10%;
  width: 80%;
  padding: 2%;
  background-color: rgba(245, 74, 7, 0.959);
}

.imgDetail{
  width: 85%;
  align-content: center;
  justify-content: center;
}

.titleDetail{
  font-size: 25px;
  color: white;
}


.btnContador{
  background-color: white;
  border: none;
  color: black;
}

.btnContador:hover{
  background-color: white;
  border: none;
  color: black;
}

.contSimbolos{
  background-color: white;
  text-align: center;
  border: 1px solid black;
  padding: 2%;
}

.contSuma{
  border-left: 1px solid black;
  padding: 7%;
}

.contSuma:hover{
  border-left: 1px solid black;
  padding: 7%;
  font-size: 18px;
}

.contResta{
  border-right: 1px solid black;
  padding: 7%;
}

.contResta:hover{
  border-right: 1px solid black;
  padding: 7%;
  font-size: 18px;
}

.btnAggCarrito{
  color: black;
  background-color: yellow;
  padding: 3%;
  width: 80%;
  border: none;
}

.footer{
  text-align: center;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 42%;
}

.textFooter{
  color: white;
}

/*CARRITO*/
.textCarrito{
  position:absolute;
  color: white;
  background-color: rgba(12, 12, 143, 0.829);
  margin-top: 25%;
  margin-left: 20%;
  font-size: 25px;
  padding: 1%;
  width: 60%;
  text-align: center;
}

.loading{
  text-align: center;
  color: white;
  padding-top: 25%;
}